<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ExpressJS Web</title>
</head>
<style>
    table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:cadetblue;
}
</style>

<body>
    ME MAY BEO
    <div>
        <img src="/program year 2 ae/NodeJS/src/public/sampleimage.jpg ">
    </div>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create user</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <table>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>$100</td>
            <th>
                <button>Edit</button>
                <button>Delete</button>
            </th>
        </tr>
        <tr>
            <td>Lois</td>
            <td>Griffin</td>
            <td>$150</td>
            <th>
                <button>Edit</button>
                <button>Delete</button>
            </th>
        </tr>
        <tr>
            <td>Joe</td>
            <td>Swanson</td>
            <td>$300</td>
            <th>
                <button>Edit</button>
                <button>Delete</button>
            </th>
        </tr>
        <tr>
            <td>Cleveland</td>
            <td>Brown</td>
            <td>$250</td>
            <th>
                <button>Edit</button>
                <button>Delete</button>
            </th>
        </tr>
    </table>

</body>

</html>